@import "../../styles/variables.scss";

#bio{
  margin-left: 2vw;
  position: fixed;
  top: $header-height;
  transition: opacity 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  
  @media screen and (max-width: $break-l) {
    top: 0;
    right: 2vw;
    height: $header-height;
  }
  
  font-size: .9em;
  opacity: .9;

  ul{
    margin: 0;
    li{
      margin: 0;
      list-style-type: none;
    }
  }

}