@import './../styles/variables.scss';

.toc-fullsize{
  position: fixed;
  right: 0;
  width: 20vw;
  text-overflow:ellipsis;
  font-size: .9rem;

  @media screen and (max-width: $break-l) {
    display: none;
  }
}

.toc-smallsize{
  display: none;
  @media screen and (max-width: $break-l) {
    display: block;
  }
}