@import './../styles/variables.scss';


.toc-fullsize{
  position: fixed;
  right: 0;
  top: 18vh;
  width: 15vw;
  text-overflow:ellipsis;
  font-size: .9rem;
  a {color: inherit;}
  @media screen and (max-width: $break-l) {
    display: none;
  }
}

#layout.light .toc-smallsize{
  a {color: #24292e;}
}
#layout.dark .toc-smallsize{
  a {color: #e4e4e4;}
}

.toc-smallsize{
  display: none;
  @media screen and (max-width: $break-l) {
    display: block;
  }
}



article{
  margin-top: 1rem;

  .blog-post-content{
    margin-top: 3vh;

    img{
      max-width: 100%;
    }

    a{
      word-break:break-all;
    }


    h1, h2{
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    h3{
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  
    h3, h4, h5, h6{
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  
    table{
      width: 100%;
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      overflow-x: auto;
    }
  
    margin-bottom: 10vh;
  }
  hr{
    border-width: 0;
    border-top-width: 1px;
    margin-block-start: 2em;
  }
}