@import './../styles/variables.scss';

.blog-post-content{
  margin-top: 1rem;

  h1, h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h3, h4, h5, h6{
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  table{
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
  }
}


.toc-fullsize{
  position: fixed;
  right: 0;
  width: 20vw;
  text-overflow:ellipsis;
  font-size: .9rem;

  @media screen and (max-width: $break-l) {
    display: none;
  }
}

.toc-smallsize{
  display: none;
  @media screen and (max-width: $break-l) {
    display: block;
  }
}