
#layout.light{
  article a{
    color: #2196F3;
  }
}
#layout.dark{
  article a{
    color: #00B0FF;
  }
}

#layout.light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  font-weight: 400;

}

#layout.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  font-weight: 300;

}

