@import './variables.scss';

article{
  word-break: keep-all;

  a{color: #0687f0;}
  a:link{text-decoration-color: #0687f0;}
  a:visited{text-decoration-color: $font-color; opacity: .9;}
  
  
  .post-meta{
    h1{
      font-size: 2rem;
    }
  }




  /*
  a{
    text-decoration: none;
  }

  a:hover{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
  }

  code{
    font-family: 'consolas';
  }

  blockquote {
    font-size: 0.9rem;
    border-left: 4px solid #00000083;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
    opacity: 0.8;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }
  */
}