// global
$font-color: #24292ee0;
$font-color-d: #e4e4e4e8;

$background-color: #fff;
$background-color-d: #212121;

// header
$header-height: 5vh;
$bio-height: 7vh;


$font-size: calc(13px + .3vh);
$h6-font-size: calc(13px + .5vh);
$h5-font-size: calc(13px + .5vh);
$h4-font-size: calc(13px + .5vh);
$h3-font-size: calc(13px + .9vh);
$h2-font-size: calc(13px + 1.2vh);
$h1-font-size: calc(15px + 1.2vh);
$code-font-size: 14px;


// bio
$bio-width: 15rem;
$content-max-width: 720px;
$preview-max-width: 640px;

// media query
$break-l: 1023px;
$break-m: 767px;
$break-s: 479px;
$break-toc: 1023px;



// code
$code-background-color-d: #282c34;