// // global
// $font-color: #24292ee0;
// $font-color-d: #e4e4e4e8;

// $background-color: #fff;
// $background-color-d: #212121;

// // header
// $header-height: 5vh;
// $bio-height: 7vh;


$font-size: calc(13px + .3vw);
$h6-font-size: calc(13px + .5vw);
$h5-font-size: calc(14px + .5vw);
$h4-font-size: calc(16px + .5vw);
$h3-font-size: calc(18px + .5vw);
$h2-font-size: calc(20px + .5vw);
$h1-font-size: calc(22px + .5vw);


// // bio
// $bio-width: 15rem;
// $content-max-width: 720px;
// $preview-max-width: 640px;

// // media query
// $break-l: 1023px;
// $break-m: 767px;
// $break-s: 479px;
// $break-toc: 1023px;



// // code
// $code-background-color-d: #282c34;