@import "../../styles/variables.scss";
@import "./../../styles/global.scss";

.flex-container {
  display: flex;
  flex-flow: column;
}

.flex-content {
  display: flex;
  order: 1;
}

.layout {
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
}

main {
  display: flex;
  order: 1;
  flex-direction: column;
  margin-top: -10vh;

  @media screen and (max-width: $break-l) {
    margin-top: 8vh;
  }
  
  #content {
    // display size
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
    margin-bottom:  $header-height;

    @media screen and (max-width: $break-l) {
      width: 80vw;
    }
    @media screen and (max-width: $break-s) {
      width: 90vw;
    }
  }
}

header {
  display: flex;
  padding: 2vw;
  //padding: 1vw 2vw 2vw 2vw;
  justify-content: space-between;
  
  .header-contents{
    @media screen and (max-width: $break-l) {
      .bio{
        display: none;
      }
    }
  }

  /*
  .header-contents {
    // logo + bio
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .logo{
      display: flex;
    }
    
    @media screen and (max-width: $break-l) {
      flex-direction: row;
      .bio{
        margin-left: 5vw;
      }
    }
  }
  */
}


footer {
  margin-top: auto;
}
