@import "../../styles/variables.scss";
@import "./../../styles/global.scss";

.flex-container {
  display: flex;
  flex-flow: column;
}

.flex-content {
  display: flex;
  order: 1;
}

.layout {
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  
  #content {
    // display size
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: 0 auto;
    margin-bottom:  $header-height;

    @media screen and (max-width: $break-l) {
      width: 80vw;
    }
    @media screen and (max-width: $break-s) {
      width: 90vw;
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  
  display: flex;
  justify-content: space-between;
  
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 4vh;

  background-color: inherit;
  
  .header-contents{
    background-color: inherit;
    .logo{  
      margin: 0;
      height: $header-height; // 5vh
    }
    .bio{
      padding-top: 1rem;
      height: $bio-height;  // 7vh
    }
    @media screen and (max-width: $break-l) {
      .bio{display: none;}
    }
  }
  nav{
    height: $header-height;
  }

}

header.visible{
  top: 0;
}
header.invisible{
  top: -21vh
}


aside{
  .bio{margin-top: 1rem;
    @media screen and (max-width: $break-l) {
      display: none;
    }
  }
}


footer {
  margin-top: auto;
}
