@import "../../styles/variables.scss";

a {  color: $font-color;}

main {
  word-break: keep-all;

  margin-top: $header-height;
  padding-top: 2vh;

  height: 100%;

  h1,  h2,  h3,  h4,  h5,  h6 {
    a:link {
      text-decoration-color: inherit;
    }
    a:visited {
      text-decoration-color: inherit;
    }
    a:hover {
      border-bottom: 1px solid #00000080;
    }
  }

  #content {
    // display size
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
    padding-top: 5vh;
    margin-bottom:  $header-height;

    @media screen and (max-width: $break-l) {
      width: 60vw;
    }
    @media screen and (max-width: $break-s) {
      width: 90vw;
    }
  }
}
