.article_rep-list{
  .article_rep-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // flex-flow: colomn wrap
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 10rem;
  }
  margin: auto;
}