@import '../../styles/variables.scss';

#header{
  display: flex;
  flex-direction: row;
  position: fixed;

  width: 100%;
  top: 0;
  background-color: transparent;
  
  height: $header-height;

  .header-content{
    position: absolute;
    bottom: 0;

    justify-items: left;
  }
}